params {
  config_profile_description = 'Perfil de Slurm para DRAM2 en el HPC de CICESE - omica.'
  config_profile_contact = 'Rubén Castañeda-Martínez'
  config_profile_url = 'https://github.com/ruben1294'
}

process {
  resourceLimits = [
    // cpus: 128,
    cpus: params.cpu_provision_limit ? params.cpu_provision_limit : params.huge_cpus_limit,
    
    memory: params.mem_gb_provision_limit ? params.mem_gb_provision_limit.GB : params.huge_gb_mem_limit.GB,
    time: params.time_hr_provision_limit ? params.time_hr_provision_limit.h : params.huge_hr_time_limit.h
    // memory: 2.TB,
    // time: 14.day
  ]
  // 20260118: Explicitly added cpus to see if parameter passes to MMseqs2. RAM was being used in full, so no issue there.
  cpus = 24
  executor = 'slurm'
  queue    = params.partition
  clusterOptions = (params.slurm_node ? "--nodelist=${params.slurm_node} --exclusive" : "")

}
executor {
  queueSize = params.queue_size
}
